﻿@using OdeToFood.Models
@model Restaurant

<h1>Create a Restaurant</h1>

<form method="post">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <!--volem un selector per la cuina del tipus cuisine i li pasem el enumerable -->
    <div>
        <label asp-for="Cuisine"></label>
        <select asp-for="Cuisine"
                asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
        <span asp-validation-for="Cuisine"></span>
    </div>

    <input type="submit" name="name" value="Save" />

</form>