﻿@model OdeToFood.Models.Restaurant

@if (Model == null)
{
    <div>Inexistent restaurant</div>
}
else
{ <h1>@Model.Name</h1>
    <div>
        Id: @Model.Id
    </div>
    <div>
        Cuisine : @Model.Cuisine
    </div>

}
<a asp-action="Index" asp-controller="Home">To Home</a>