﻿
@model OdeToFood.ViewModels.HomeIndexViewModel
<!-- s'ha de definir els model que utilitzem amb el seu path-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>
<body>
    <h1>@Model.CurretnMessage</h1>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
                <td>
                    <!--3 maneres de fer-ho, la millor la 3 pero necesita el import de la clase viewimports-->
                    <a href="/home/details/@restaurant.Id">Details</a>
                    @Html.ActionLink("Go", "Details", new { id=restaurant.Id})
                    <a asp-action="Details" asp-route-id="@restaurant.Id">More</a>
                </td>
            </tr>
        }
    </table>
    <a asp-action="Create"> Add Restaurant</a>

</body>
</html>